body {
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
}

#profile-container {
    max-width: 300px;
    background-color: wheat;
    border: 2 px solid cyan;
    border-radius: 6px;
}

#profile-image {
    width: 100%;
    height: auto;
}

#profile-name {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}